body{
	margin: 0;
	font-family: monospace;
	background-image: url("../img/back.JPG");
  	background-repeat: no-repeat;
  	background-position: center top;
 	background-attachment: scroll;
 	background-size: cover;
 	background-position: center;
 	color: white;
 	font-size: 20px;
 	line-height: 30px;
}

header{
	text-align: center;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(205,92,92,0);
}

header h1{
	color: black;
	font-size: 40px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid ;
}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: rgba(205,92,92,0.2);
}

a{
	color: white;
}
a:hover{
	color: white;
	background-color: indianred;
}
footer{
	background-color: indianred;
	text-align: center;
	color: white;
	opacity: 0.5;
}
